scaffold.sh
.vscode/

pipelines/logs/
pipelines/target/

.env

# Terraform
**/.terraform/
*.tfstate*
*.tfplan
crash.log
*.tf.log
*.tfbackend

# Infracost
infracost-output*
.env
infra/.terraform/
infra/dev.tfbackend

